/* body {
  overflow-y: hidden;
} */

.backdrop {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  z-index: 22;
}

.displayhidden {
  display: none;
}

/* .modalContainer{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 23;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.modal {
  position: fixed;
  width: 50vw;
  height: 60vh;
  background-color: #3674f0;
  display: flex;
  z-index: 23;
  top: 25vh;
  left: 25vw;
}

.modalContainer1 {
  width: 40%;
  height: 60vh;
  padding: 45px 35px;
  background: #2874f0;
  background-image: url(https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png);
  background-repeat: no-repeat;
  background-position: center 85%;
}

.modalContainer1 h5 {
  color: white;
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.modalContainer1 p {
  color: white;
}

.modalContainer2 {
  background-color: white !important;
  display: flex;
  padding: 25px 35px;
  flex-direction: column;
}

.modalContainer2 input {
  width: 100%;
  padding: 6px 0 7px;
  border: none !important;
  border-bottom: 1px solid black !important;
  margin-top: 40px !important;
}

.modalContainer2 p {
  color: #878787;
  font-size: 12px;
  margin-top: 20px;
}

.modalContainer2 button {
  margin-top: 40px;
}

.modalContainer2 h6 {
  margin-top: 50px;
  color: #2874f0;
  cursor: pointer;
}
